@import './vars';

//layout
.container{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1rem;
    
    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        padding: 0 2rem;
    }
    @media screen and (min-width: $desktop-small) {
        max-width: $desktop-small;
    }
    @media screen and (min-width: $desktop-big) {
        max-width: $desktop-big;
        padding: 0 4rem;
    }
}

// typography
body{
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
    font-family: 'Source Sans Pro';
    font-weight: 700;
}
h1.company-name{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
p{
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}
a{
    text-decoration: none;
}