// breakpoints
$tablet: 767px;
$desktop-small: 1100px;
$desktop-big: 1468px;

// colors
$gray: #585858;
$white: #fff;








// @mobilexs-max: 420px;
// @m-mobilexs-max: ~"only screen and (max-width: @{mobilexs-max})";
// @mobilexs-min: 419px;
// @m-mobilexs-min: ~"only screen and (min-width: @{mobilexs-min})";